
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #0e082c;
    color: #f5d5b3;
    font-size: 18px;
    line-height: 1.6;
}

.container{
    max-width: 600px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}

ul{
    list-style: none;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

nav ul li {
    cursor: pointer;
    background: linear-gradient(90deg, #ff00ff, #036970);
    padding: 10px 20px;
    margin: 20px;
    border-radius: 99em;
    width: 150px;
    text-align: center;
}

.hidden{
    display: none;
}

.links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links ul li{
    padding: 60px 20px 10px 20px;
}

.links ul li a{
    color: #ff00ff;
    text-decoration: none;
    text-transform: lowercase;
}

.wb-body {
    background: #0e082c;
    padding: 20px;
}

.winbox {
    background: linear-gradient(90deg, #ff00ff, #036970);
    border-radius: 12px 12px 0 0;
}

.wb-body {
    margin: 4px;
}

p{
    margin: 20px 0;
}

.wb-title{
    font-size: 14px;
    font-family: 500;
}

.wb-body::-webkit-scrollbar{
    width: 12px;
}

.wb-body::-webkit-scrollbar-track{
    background: transparent;
}

.wb-body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #263040;
}

.wb-body::-webkit-scrollbar-thumb:window-inactive{
    background: #181f2a;
}

.wb-body::-webkit-scrollbar-corner{
    background: transparent;
}